# VCS.git.gitignore.gitattributes# IDE.idea.vscode*.iml*.ipr*.iws# SO.DS_StoreThumbs.db# Build outputtarget/build/out/dist/*.class*.jar*.war*.ear# Gradle cache (não confundir com a pasta gradle/ do wrapper).gradle/# Node (se existir no repo)node_modules/npm-debug.logyarn-error.log# Logs & envlogs/*.log*.pid*.pid.lock.env.env.*# --- MANTER ESTES ARQUIVOS NO CONTEXTO ---!pom.xml!mvnw!mvnw.cmd!.mvn/wrapper/**!build.gradle!settings.gradle!gradlew!gradlew.bat!gradle/wrapper/**!src/**